header {
    display: flex;
    background-color: rgb(88, 88, 88);
    color: white;
}

nav {
    padding: 10px 0 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 50px;
}

nav a.active {
    background-color: rgb(255, 166, 0);
    color: white;
}

nav a.main {
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(255, 166, 0);
    float: left;
}

a {
    text-decoration: none;
    color: white;
}

